@import './rest';
@import './mixes';
@import './variables';

body{
    background-image: url(../assets/images/background.webp);
    display: flex;
    background-size: 120%;
   
    height: 100vh;
    @include flex-center
   
}
#home{
    background-color: #fff;
    width: 100vw;
    max-width: 45rem;
    padding: 3rem;
    border-radius: .8rem;
    /*header===================*/
    header{
        text-align: center;
        margin: 1rem 0 4rem 0;
    }
    /*header======================*/
    /*main========================*/
    main{
        h2{
            margin: 1rem 0 .5rem 0;
            color: $black-light;
            font-weight: 600;
            
        }
         /*form===================*/
        form{
            input{
                width: 100%;
                display: block;
                padding: 1.8rem 0 1.3rem 4rem;
                border-bottom: 1px solid rgba(168, 167, 167, 0.562);
                color: $black-light;
                font-weight: 500;
                outline: none;
                transition: 1s;
                
                &:focus{
                   
                    padding: 2rem 0 1.3rem 6rem;
                    border-bottom: 1px solid #9c54f3
                }

                &::placeholder{
                    font: 400 1.8rem 'Roboto','Arial',serif;
                    color: $black-light
                }
    
            }
            img{
                position: relative;
                bottom: 36px;
                opacity: (0.4);
            }
            span{
                display: block;
                text-align: right;
                color: $black-light;
            }
            button{
                
                color: #fff;
                background: linear-gradient(to left,#e317fc 25%, #9c54f3,#0fcee0 );
                background-size: 130%;

                width: 100%;
                font: 600 1.8rem 'Poppins','Arial', serif;
                margin: 2rem 0;
                height: 5rem;
                @include flex-center;
                border-radius: 3rem;

                transition: .2s;
                cursor: pointer;

                &:hover{
                    animation: gradient 5s infinite ease-in-out;
                    
                }
               
            }
        
        }
         /*form===================*/
         .separator{
             @include flex-center;
             margin: 3em 0em 1em;
         }
         /*signIn<section>===================*/
         .signIn{
             @include flex-center(row);
             gap: 0.8rem;

             div{

                 .srOnly{
                     overflow: none;
                     position: absolute;
                     top: -1px;
                     font-size: 1px;


                 }
                 .googleImg{
                    width: 42px;
                    border-radius: 50%;
                }
                
             }
         }
         /*signIn<section>===================*/
        
    }
    /*main===================*/
}


.googleImg{
    width: 42px;
    border-radius: 50%;
}


@keyframes gradient{

    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}